
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

.maincontent{
    display:grid;
    grid-template-columns: 260px auto;
    background-color: white;
    height: calc(100vh - 60px);
}


