*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}

 table, td, th{
    border: 1px solid rgb(175, 171, 171);
    color:rgb(100, 99, 99);
    box-sizing: border-box; /* Add this line */
}



table{
    border-collapse: collapse;
    width:1050px;
    
}

thead{
    height:35px;
}

td{
    width: 137px;
    height:58px; 
}

.table-container{
    max-height:505px;
    overflow:auto;
}


td::before{
    font-size: 12px;
    font-weight:500;
    color:gray;
    position:absolute;
    top:-8px;
    left:0px;
    background-color: white;
    padding:0px 8px;
}

.rowno3 td::before{
    content:'2 AM';
}

.rowno5 td::before{
    content:'4 AM';
}

.rowno7 td::before{
    content:'6 AM';
}

.rowno9 td::before{
    content:'8 AM';
}

.rowno11 td::before{
    content:'10 AM';
}

.rowno13 td::before{
    content:'12 AM';
}

.rowno15 td::before{
    content:'2 PM';
}

.rowno17 td::before{
    content:'4 PM';
}

.rowno19 td::before{
    content:'6 PM';
}

.rowno21 td::before{
    content:'8 PM';
}

.rowno23 td::before{
    content:'10 PM';
}




tr{
    position:relative;
    
}

.paststyle{
    background-color: gray;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.futurestyle {
    background-color: white;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.addpostoutertdiv{
    background-color: rgb(245, 245, 245);
    border: 1px solid gray;
    padding:10px 50px;
    margin:6px 9px;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    /* position:absolute;     */
}

.futurestyle:hover .addpostoutertdiv{
    display: flex;
}

.addpostoutertdiv:hover::before{
    content:'Add a post';
    position:absolute;
    top:-30px;
    background-color: rgb(70, 70, 70);
    color: white;
    padding:6px;
    border-radius: 3px;
    font-size:small;
    
}